a {
  text-decoration: none !important;
}

p {
  margin-bottom: 0px !important;
}

footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
}

.madeByDavid {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center !important;
  transition: 0.2s;
  padding: 0px 8px 0px 0px;
  border-radius: 8px;
}

.madeByDavid:hover {
  transform: scale(1.02);
}

#davidPic {
  height: 24px;
  margin: 0;
}

#davidText {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: rgb(0, 0, 0);
}

#heartIcon {
  height: 14px;
  padding: 0px 2px 0px 2px;
}

.privacyContainer {
  display: flex;
  gap: 24px;
}

.footerPrivacy {
  color: white;
  font-size: 12px;
}

@media (max-width: 360px) {
  .privacyContainer {
    flex-direction: column;
    gap: 8px;
  }
}