#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}

.overlayPokemonCardContainer {
  width: 472px;
  height: 660px;
  border-style: solid;
  border-radius: 24px;
  border-width: 16px;
  border-color: rgb(255, 225, 99);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: url("../img/texturedpaper.png");
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.overlayCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.overlayCardHeaderRightContainer {
  display: flex;
  align-items: first baseline;
  justify-content: flex-end;
}

.overlayCardHeaderRight {
  display: flex;
  align-items: first baseline;
  justify-content: flex-end;
}

.overlayCardHeaderHp {
  font-size: 12px;
}

.overlayCardTypesSymbol {
  width: 24px;
  border-radius: 50%;
  padding: 2px;
  display: flex;
}

.overlayImgBox {
  background-image: url("../img/bgc.jpg");
  background-size: cover;
  height: 270px;
  border: 6px ridge rgb(215, 217, 216);
  border-radius: 0 0 12px 12px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.overlayImg {
  height: auto;
  width: 200px;
}

#imgStats {
  height: 20px;
  width: 103%;
  border: 6px ridge rgb(215, 217, 216);
  border-radius: 0 0 12px 12px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -6px;
  background-color: rgb(223, 223, 226);
}

#leftOverlay {
  left: 16%;
}

#rightOverlay {
  right: 16%;
}

#leftOverlay,
#rightOverlay {
  display: flex;
  cursor: pointer;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.modalOpen {
  height: 100vh;
  overflow-y: hidden;
}

.overlayCardStatsHeader {
  font-size: 24px;
  margin-top: 8px;
}

.overlayCardBarHeader {
  font-size: 14px;
  margin-top: 4px;
}

.progress {
  border: 4px ridge rgb(255, 255, 255);
}

.progress-bar {
  font-size: 8px;
}

.overlayCardAbilitiesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.overlayCardAbilities {
  font-size: 24px;
}

.overlayCardAbilitiesBtn {
  height: 32px;
  width: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px ridge rgb(255, 255, 255);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1 !important;
}

.tooltipImg {
  width: 50px;
  height: 50px;
}

.tooltipArrow {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.tooltip .tooltipContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  width: 400px;
  background-color: rgb(223, 223, 226);
  text-align: center;
  border: 4px ridge rgb(215, 217, 216);
  padding: 4px 8px;
  position: absolute;
  z-index: 100;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipContent {
  visibility: visible;
  opacity: 1;
}

/* media queries */
@media (max-width: 880px) {
  #leftOverlay {
    left: 6%;
  }

  #rightOverlay {
    right: 6%;
  }
}

@media (max-width: 680px) {
  .overlayPokemonCardContainer {
    width: 378px;
    height: 528px;
    border-radius: 20px;
    border-width: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .overlayCardHeader {
    font-size: 24px;
  }

  .overlayCardHeaderHp {
    font-size: 10px;
  }

  .overlayImgBox {
    height: 216px;
    border: 4px ridge rgb(215, 217, 216);
    border-radius: 0 0 10px 10px;
  }

  .overlayImg {
    width: 160px;
  }

  #imgStats {
    height: 16px;
    width: 102%;
    border: 4px ridge rgb(215, 217, 216);
    border-radius: 0 0 10px 10px;
    font-size: 6px;
  }

  .overlayCardStatsHeader {
    font-size: 16px;
  }

  .overlayCardBarHeader {
    font-size: 10px;
    margin-top: 2px;
  }

  .progress {
    border: 2px ridge rgb(255, 255, 255);
  }

  .progress-bar {
    font-size: 8px;
  }

  .overlayCardAbilitiesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .overlayCardAbilities {
    font-size: 16px;
  }

  .overlayCardAbilitiesBtn {
    height: 24px;
    font-size: 12px;
    border: 2px ridge rgb(255, 255, 255);
  }

  #leftOverlay {
    left: 8px;
  }

  #rightOverlay {
    right: 8px;
  }

  #leftOverlay,
  #rightOverlay {
    width: 40px;
    height: 40px;
  }

  .tooltip .tooltipContent {
    width: 320px;
    border: 2px ridge rgb(215, 217, 216);
    top: 22%;
  }
}

@media (max-width: 480px) {
  .overlayPokemonCardContainer {
    width: 302px;
    height: 422px;
    border-radius: 16px;
    border-width: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .overlayCardHeader {
    font-size: 20px;
  }

  .overlayCardHeaderHp {
    font-size: 10px;
  }

  .overlayImgBox {
    height: 150px;
    border: 2px ridge rgb(215, 217, 216);
    border-radius: 0 0 8px 8px;
  }

  .overlayImg {
    width: 128px;
  }

  #imgStats {
    width: 101%;
    border: 2px ridge rgb(215, 217, 216);
  }

  .overlayCardStatsHeader {
    font-size: 12px;
  }

  .overlayCardBarHeader {
    font-size: 10px;
  }

  .progress {
    border: 2px ridge rgb(255, 255, 255);
  }

  .progress-bar {
    font-size: 8px;
  }

  .overlayCardAbilities {
    font-size: 12px;
  }

  .overlayCardAbilitiesBtn {
    height: 20px;
    font-size: 10px;
  }

  #leftOverlay {
    left: 80px;
  }

  #rightOverlay {
    right: 80px;
  }

  #leftOverlay,
  #rightOverlay {
    position: absolute;
    top: 12%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
  }

  .tooltip .tooltipContent {
    width: 270px;
    top: 30%;
  }
}
