* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Roboto" !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input:focus {
  outline: none;
}

main {
  margin: 40px 40px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  min-height: 100vh;
}

.loadingScreen {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.loadingImg {
  background: url("../img/pokeballloading.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingText {
  color: white;
  font-size: 32px;
}

.pokemonCardContainer {
  width: 236px;
  height: 330px;
  border-style: solid;
  border-radius: 16px;
  border-width: 10px;
  border-color: rgb(255, 225, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.pokemonCardNameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pokemonCardContainer:hover {
  transform: scale(1.02);
}

.pokemonCardName {
  font-size: 24px;
}

.pokemonCardId {
  font-size: 12px;
}

.pokemonCardImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.pokemonCardImage {
  height: auto;
  width: 120px;
  max-height: 180px;
}

.pokemonCardTypes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pokemonCardTypesSingle {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  border-radius: 8px;
  border-color: white;
  border: 3px solid #ffffff;
}

.loadMoreCard {
  background: url("../img/bg2.jpg");
  background-size: cover;
  width: 236px;
  height: 330px;
  border-style: solid;
  border-radius: 16px;
  border-width: 10px;
  border-color: rgb(116, 1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.loadMoreCard:hover {
  transform: scale(1.02);
}

#loadMoreBtn {
  background-color: rgb(255, 225, 99);
  color: rgb(126, 0, 1);
  font-size: 36px;
  font-weight: bolder;
  border-style: none;
  width: 101%;
  padding: 4px;
}


/* scrollbar */
body {
  --sb-track-color: #000000;
  --sb-thumb-color: #a60000;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}


/* media queries */
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

@media (max-width: 1096px) {
  main {
    margin: 40px 20px;
  }
}

@media (max-width: 560px) {
  .pokemonCardContainer {
    width: 189px;
    height: 264px;
    border-style: solid;
    border-radius: 14px;
    border-width: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .pokemonCardImage {
    height: auto;
    width: 96px;
    max-height: 140px;
  }

  .pokemonCardTypes {
    gap: 8px;
  }

  .pokemonCardTypesSingle {
    width: 64px;
    padding: 0px 0px;
    border: 2px solid #ffffff;
  }

  main {
    margin: 40px 10px;
  }

  .loadMoreCard {
    background: url("/img/bg2.jpg");
    background-size: cover;
    width: 189px;
    height: 264px;
    border-style: solid;
    border-radius: 14px;
    border-width: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  #loadMoreBtn {
    font-size: 24px;
  }
}
